{% load i18n utiltags %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{% trans "The Open Book Platform" %}</title>
    <link rel="stylesheet" href="/site_media/css/openbook.css" type="text/css">
	{% block css %}{% endblock %}	
	<script type="text/javascript" src="/site_media/js/jQuery.js"></script>
    <script type="text/javascript" src="/site_media/js/jBasicExt.js"></script>
    {% block js %}{% endblock %}	

  </head>
  <body>
    <div id="pageBody">
    	<div id="outer-container">
    	<div id="shadow-container">
    		<div class="shadow1">
    			<div class="shadow2">
    				<div class="shadow3">
    					<div class="container">
    
    <div id="container">
      <div id="hd">
        <table width="100%">
          <tr>
            <td width="50%" align="left">{% block nav1 %}&nbsp;{% endblock %}</td>
            <td width="50%" align="right">{% block nav2 %}{% if not user.is_anonymous %}
            Welcome: <b>{{ user.username }}</b> (<a href="/user/{{ user.id }}/">{% trans "Admin" %}</a> | <a href="/logout/">{% trans "Logout" %}</a>)
            {% else %}
            <a href="/login/">{% trans "Login" %}</a> | <a href="/register/">{% trans "Register" %}</a>
            {% endif %}
             <a href="/help/"><img src="/site_media/img/helpbutton.gif" align="absmiddle" alt="Help"></a>
{% endblock %}</td>
          </tr>
        </table>
        <h1>{% block title %}<a href="/booklist/">{% trans "The Open Book Platform" %}</a>{% endblock %}</h1>
        {% block nav %}{% endblock %}
      </div>
      <div id="bd">
        <h2 id="chapter-title">{% block subject %}{% endblock %}</h2>
        {% block content %}{% endblock %}
      </div>
	    <div id="footer">{% trans "This site is designed by Limodou." %}</div>
        <div id="license">{% block license %}All books license are owned by the authors. 
        If there is no license announcement, It'll use <a href="/license/">Gnu Free Document License</a>.{% endblock %}</div>
    </div>

    {% block other %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
  </body>
</html>
