{% load i18n utiltags %}<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>The Open Book Project</title>
    <link rel="stylesheet" href="/site_media/css/reset-min.css" type="text/css">
    <link rel="stylesheet" href="/site_media/css/grids-min.css" type="text/css">
    <link rel="stylesheet" href="/site_media/css/djangobook.css" type="text/css">
		
	<style type="text/css" media="screen">
		#bd { font-size: 15px; text-align: justify;}
		p.wowza { text-align: right; font-size: 24px; } 
	</style>

  </head>
  <body>
    <div id="doc" class="yui-t7">
      <div id="hd">
        <h1>The Open Book Project</h1>
				
      </div>
      <div id="bd">
        <div id="yui-main">
          <div class="yui-b">
            <h2 id="chapter-title">Meet The Django Book</h2>
<p>
	Welcome to the online version of The Django Book, a <a href="/license/">free
	book</a> about <a href="http://www.djangoproject.com/">Django</a>.
</p>

<p>
	The book is due to be published in 2007 by <a href="http://apress.com/">Apress</a>, 
	but in the meantime you can read the "beta" book online. This is a
  work in progress, and we invite you to leave comments, suggestions and
  criticism (<a href="/comment-help/">read more about the comment system</a>).
</p>

<p>So, dive in, let us know what you think, and check back regularly for the latest chapter updates. There's an <a href="/feed/">Atom feed</a> that'll get updated each time we release new material.</p>

<p><strong>Note: if you want to follow along with the examples, you'll need to install the <a href="http://www.djangoproject.com/download/">latest development version</a> of Django</strong> (not version 0.95, which is the latest official release).</p>

<p>If you've got more general feedback that doesn't fit into the comment system, or if you just like email more, you can reach us at <i>feedback @ this domain</i>.</p>

<p class="wowza"><a href="/en/beta/">On to the book &raquo;</a></p>            
          </div>
        </div>
      </div>
	    <div id="ft">
				
				Copyright 2006 Adrian Holovaty and Jacob Kaplan-Moss.<br>This
      	work is licensed under the <a href="/license/">GNU Free Document
      	License</a>.
			</div>
    </div>
    <!--
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
    <script type="text/javascript">_uacct = "UA-848611-1"; urchinTracker();</script>
    -->	
	
  </body>
</html>
