{% load utiltags %}
{% expr [('homepage', '首页', '/')] as menuitems %}
{% if not user.is_anonymous %}
    {% expr [('personal', '个人管理', '/user/%d/' % user.id)] as adminmenuitems %}
{% endif %}
{% pyif not user.is_anonymous() and lastgroup %}
    {% expr menuitems.append(('grouphome', lastgroup.name + '首页', '/group/%d/' % lastgroup.id)) as null %}
{% endif %}
{% expr menuitems.extend([('group', '小组', '/group/'), ('user', '成员', '/user/')]) as null %}
{% pyif not user.is_anonymous() and user.is_superuser %}
    {% expr adminmenuitems.append(('admin', 'Admin', '/admin/')) as null %}
{% endif %}
<div id="Tabs">
    <ul id="MainTabs">
    {% for item in menuitems %}
        {% expr item[0] as name %}
        <li><a href="{{ item.2 }}"{% ifequal name currentpage %} class="current"{% endifequal %}>{{ item.1 }}</a></li>
    {% endfor %}
    {% for item in adminmenuitems %}
        {% expr item[0] as name %}
        <li><a href="{{ item.2 }}" style="float: right;{% if forloop.first %} margin-right: 30px{% endif %}"{% ifequal name currentpage %} class="current"{% endifequal %}>{{ item.1 }}</a></li>
    {% endfor %}
    </ul>
</div>
