{% load utiltags %}
{% catch as ROOT %}{{ setting.URLROOT }}{% endcatch %}
{% if not user.is_anonymous %}
    {% expr [('info', 'Information', ROOT + '/user/%d/' % user.id), ('edit', 'Modify', ROOT + '/user/%d/edit/' % user.id)] as submenuitems %}
    {% pyif not user.is_anonymous() and person.id == user.id %}
        <div class="submenu">
            <ul id="MainTabs">
            {% for item in submenuitems %}
                {% expr item[0] as name %}
                <li><a href="{{ item.2 }}"{% ifequal name currentpage %} class="current"{% endifequal %}>{{ item.1 }}</a></li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endif %}
