{% extends "base.html" %}
{% block title %}{{ book.title }}{% endblock %}
{% block subject %}{{ chapter.title }}{% endblock %}
{% block content %}
{{ chapter.content }}
{% endblock %}
{% block nav1 %}<a href="/">The Open Book Platform</a>{% endblock %}
{% block nav %}<div class="nav">{% if prev %}<a href="/book/{{ book.id }}/{{ prev.num }}/">&laquo; {{ prev.title }}</a>{% endif %} | <a href="/book/{{ book.id }}/"> 目录 </a>| {% if next %}<a href="/book/{{ book.id }}/{{ next.num }}/">&raquo; {{ next.title }}</a>{% endif %}</div>{% endblock %}