{% load i18n utiltags %}
<script type="text/javascript">
function createtable(target, data){
	var table = $('<table width="100%"><tbody></tbody></table>')
	$.each(data, function(n){
		var tr = $('<tr><td width="1%">$checkbox</td><td><dl><dt><i>$title ($date)</i></dt><dd>$abstract</dd></dl></td></tr>'.template(this));
		var id = this['id'];
		$('td', tr).eq(1).click(function(){
			window.location = '{{ setting.URLROOT }}/user/{{ user.id }}/book/{{ book.id }}/chapter/$id/'.template({id:id});
		});
		table.append(tr);
		var d = this;
	});
	$(target).empty().append(table);
//	$("tbody tr:even", target).addClass("alt");
	$("tbody tr")
	    .mouseover(function(){
	        $(this).addClass("over");
	    })
	    .mouseout(function(e){
	        $(this).removeClass("over");
	    });
}

function create_authors(target, data){
	var ul = $('<ul></ul>')
	$.each(data, function(n){
		var li = $('<li>$username</li>'.template(this));
		ul.append(li);
	});
	$(target).empty().append(ul);
}

function handle_list(data){
	var result = data.evalJson();
	if (result.response == 'ok'){
		var data = result.data;
		createtable('#documents', data);
	}
}

function handle_authors(data){
	var result = data.evalJson();
	if (result.response == 'ok'){
		var data = result.data;
		create_authors('#authors', data);
	}
}

$(document).ready(function (){
	$.post('chapters/', {}, handle_list);
	$.post('authors/', {}, handle_authors);
	$('#select').click(function(){
		$('#documents input[@type="checkbox"]').each(function(){
			this.checked = true;
		});
	});
	$('#diselect').click(function(){
		$('#documents input[@type="checkbox"]').each(function(){
			this.checked = '';
		});
	});
	$('#delete').click(function(){
		$.post('deletechapters/', $('#documents').getdict(), function(data){
			var result = data.evalJson();
			if (result.response == 'ok'){
				if (result.next)
					window.location = result.next;
			}
		});
	});
	$('#addchapter').modal({trigger: '#add', title:'New Chapter', center:true});
	$('#modifybook').modal({trigger: '#modify', title:'Change Book Information', center:true});
	on_success_finish = function(obj, data){
		$('#addchapter').parent().parent().hide();
		$.post('chapters/', {}, handle_list);
	};
	$('#upload_form').jform({'on_success_finish':on_success_finish, 
			'messageid':'#addchapter div.message'});
	on_modify_success_finish = function(obj, data){
		$('#modifybook').parent().parent().hide();
	}
	$('#book_edit_form').jfileform({'on_success_finish':on_modify_success_finish, 
			'messageid':'#modifybook div.message'});
});
</script>
{% catch as header %}
    <h1>{{ book.title }}</h1>
    <h3><a href="#" class="admin" id="select" />{% trans "Select All" %}</a> | <a href="#" class="admin" id="diselect" />{% trans "Deselect All" %}</a></h3>
{% endcatch %}
{% catch as content %}
	<div class="modalform" id="addchapter" style="display:none;">
		<form id="upload_form" enctype="multipart/form-data" action="addchapter/" method="post">
			<div class="bd">
				<p>{% trans "Create a new book, and fill in information" %}:</p>
				<p>
					<lable class="require">{% trans "Chapter Order Num" %}:</lable>
					<input type="text" name="num" value=""/>
				</p>
				<p>
					<lable class="require">{% trans "Title" %}:</lable>
					<input type="text" name="title" value=""/>
				</p>
				<p>
					<lable>{% trans "Abstract" %}:</lable>
					<textarea rows="2" cols="40" name="abstract"></textarea>
				</p>
				<p>
					<lable class="require">{% trans "Content" %}:</lable>
					<textarea rows="8" cols="40" name="content"></textarea>
				</p>
			</div>
			<div class="ft">
				<div class="message" class="" style="display:none;">Loading comments...</div>
				<div class="submit-wrapper">
					<input type="submit" value="{% trans "Create" %}" />
				</div>
			</div>
		</form>
	</div>
	<div class="modalform" id="modifybook" style="display:none">{% include "books/inc_book_form.html" %}</div>
    <div id="documents">{% trans "Loading" %}...{% include "utils/ajax_loading.html" %}</div>
	<div id="pages"></div>
{% endcatch %}
{% catch as sidebar %}
	<h1>{% trans "Functions" %}</h1>
	{% if is_manager %}
		<p><a href="#" class="admin" id="modify">{% trans "Change Book Information" %}</a></p>
		<p><a href="#" class="admin" id="add">{% trans "New Chapter" %}</a></p>
		<p><a href="#" class="admin" id="delete">{% trans "Delete Selected Chapters" %}</a></p>
	{% endif %}
	<h1>{% trans "Authors" %}</h1>
	<script type="text/javascript">
	$(function(){
		on_addauthor_success_finish = function(obj, data){
			$.post('authors/', {}, handle_authors);
		}
		$('#addauthor').jform({'on_success_finish':on_addauthor_success_finish, 
				'messageid':'#author_message'});
	});
	</script>
	<div id="author_message"></div>
	<p><form id="addauthor" action="addauthor/" method="post"><input type="text" name="username" value=""/><input type="submit" name="addauthor" value="{% trans "Add Author" %}"/></form></p>
	<div id="authors">{% trans "Loading" %}...{% include "utils/ajax_loading.html" %}</div>
{% endcatch %}
{% call "utils/contentframe.html" with header content sidebar %}
