.dialog
{
	position: absolute;
	overflow: hidden;
}

.dialogTop
{
	height: 30px;
	background-image: url(/site_media/img/dialog_top_end.png);
	background-position: right top;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
	cursor: move;
}
.dialogTopContent
{
	margin-right: 13px;
	background-image:url(/site_media/img/dialog_top_start.png);
	background-position:left top;
	background-repeat: no-repeat;
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	text-indent: 10px;
	font-family:Georgia,Verdana,Tahoma,Arial,sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #6caf00;
	text-align:center;
}
.dialogClose
{
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}
.dialogBottom
{
	position: relative;
	height: 270px;
	background-image: url(/site_media/img/dialog_bottom_end.png);
	background-position: right bottom;
	background-repeat: no-repeat;
}
.dialogBottomContent
{
	position: relative;
	height: 270px;
	background-image: url(/site_media/img/dialog_bottom_start.png);
	background-position: left bottom;
	background-repeat: no-repeat;
	margin-right: 13px;
}
.dialogResize
{
	position: absolute;
	right: 3px;
	bottom: 5px;
	cursor: se-resize;
}
.dialogContent
{
	position:absolute;
	top: 30px;
	left: 10px;
	width: auto;
	height: 400px;
	overflow: hidden;
	border: 1px solid #6caf00;
	font-size: 10pt;
	background-color: #fff;
	text-align: center;
}

.dialogContent div.content
{
overflow: auto;
text-align:left;
padding: 4px;
}

.dialogContent .ft
{
height:40px;
background-color:#179F00;
}
.dialogContent .actions
{
clear:both;
padding-left:6px;
padding-right:6px;
}
.dialogContent .message
{
float:left;
}
.dialogContent .buttons
{
float:right;
}

.dialog label{display:block;}
.dialog p{margin:0;}
.dialog .field{width:98%;}
.dialog .error{color:red;}
.dialog .required{font-weight:bold;}
