{% load i18n utiltags %}
{% extends "base.html" %}
{% block menu %}{% call "menu.html" with currentpage="group" %}{% endblock %}
{% block body %}
<script type="text/javascript">
$(document).ready(function (){
	$('#upload').hide();
    $('#a_upload a').toggle(function (){
        $('#a_upload img').attr('src', '/site_media/img/triangle.gif');
        $('#upload').slideDown('slow');
        $('#upload').find('input:eq(0)').focus();
    },function (){
        $('#a_upload img').attr('src', '/site_media/img/opentriangle.gif');
        $('#upload').slideUp('slow');
    });
	/*
	$("table.groups tbody tr:even").addClass("alt");
	$("table.groups tbody tr")
	    .mouseover(function(){
	        $(this).addClass("over");
	    })
	    .mouseout(function(e){
	        $(this).removeClass("over");
	    });
	*/
	
});
</script>
{% catch as header %}
    <h1>小组</h1>
	{% if user.is_superuser %}
    <h3 id="a_upload"><img src="/site_media/img/opentriangle.gif"/><a class="admin" href="#">增加小组</a></h3>
	{% endif %}
{% endcatch %}
{% catch as content %}
	{% if user.is_superuser %}
    <form enctype="multipart/form-data" action="/group/add/" method="post">
        <div class="basic_form" id="upload">
            {% if form.errors %}<p class="errornote">{% trans "Please correct blow errors." %}</p>
            <ul class="errorlist">
            {% for e in form.errors %}
                <li><a href="javascript:document.getElementById('id_{{ e.0 }}').focus()"><b>{{ e.1 }}:</b> {{ e.2 }}</a></li>
            {% endfor %}
            </ul>
            {% endif %}
            <p class="blockintro">在这里你可以创建一个小组，请填充必要的信息。</p>
            <div class="block">
                <dl>
                    <dt class="required"><lable for="">{{ form.name.formfield.label }}</lable></dt>
                    <dd>{{ form.name }}<dd>
                </dl>
                <dl>
                    <dt><lable for="">{{ form.icon.formfield.label }}</lable></dt>
                    <dd>{{ form.icon }}<dd>
                </dl>
                <dl>
                    <dt><lable for="">{{ form.description.formfield.label }}</lable></dt>
                    <dd>{{ form.description }}<dd>
                </dl>
            </div>
            <p class="blockintro">可以给这个小组增加若干个管理员。请输入管理员的ID号，多个ID之间使用空格分开。</p>
            <div class="block">
                <dl>
                    <dt><lable for="">{{ form.managers.formfield.label }}</lable></dt>
                    <dd>{{ form.managers }}<dd>
                </dl>
            </div>
            <div class="action">
                <input type="submit" value="保存" />
            </div>
        </div>
    </form>
	{% endif %}
    <table class="groups" cellpadding="4px">
        {% for item in groups %}
			{% expr forloop['counter'] % 2 as flag %}
			{% if flag %}<tr>{% endif %}
			<td width="1%"><a class="admin" href="/group/{{ item.id }}/"><img class="link" src="/site_media/{{ item.get_icon_url }}"/></a></td>
			<td><a href="/group/{{ item.id }}/"><span class="groupname">{{ item.name }}</span></a><span class="author">管理员：{{ item.get_managers }}</span><p class="description">{{ item.description }}</p></td>
			{% if not flag %}</tr>{% expr True as finish %}{% endif %}
        {% endfor %}
		{% if not finish %}
			<td></td><td></td></tr>
		{% endif %}
    </table>
{% endcatch %}
{% call "utils/contentframe.html" with header content sidebar %}
{% endblock %}
