{% extends "base.html" %}
{% load i18n utiltags %}
{% block menu %}{% call "menu.html" with currentpage="personal" %}{% endblock %}
{% block css %}
<link href="/site_media/css/form.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block js %}
<script type="text/javascript" src="/site_media/js/ajax_form.js"></script>
<script type="text/javascript" src="/site_media/js/jq-corner.js"></script>
<script type="text/javascript">
$(document).ready(function (){
	var user_login = new AjaxForm('#register');
});
</script>
{% endblock %}

{% block content %}
<h2>{% trans "Register" %}</h2>
<div class="basic_form">
	<form action="{{ setting.URLROOT }}/register/" method="post" id="register">
	<div id="message"></div>
	<p class="blockintro">Basic Information</p>
	<div class="block">
		<dl>
			<dt class="required">{% trans "Username" %}:</dt>
			<dd><input type="text" name="username" value=""/><dd>
		</dl>
		<dl>
			<dt class="required">{% trans "Email" %}:</dt>
			<dd><input type="text" name="email" value=""/><dd>
		</dl>
	</div>
	<p class="blockintro">Password setup</p>
	<div class="block">
		<dl>
			<dt class="required">{% trans "Password" %}:</dt>
			<dd><input type="password" name="password" value=""/><dd>
		</dl>
		<dl>
			<dt class="required">{% trans "Enter again" %}:</dt>
			<dd><input type="password" name="password1" value=""/><dd>
		</dl>
	</div>
	<div class="action">
		<input type="submit" value="Submit" />
	</div>
	</form>
</div>
{% endblock %}
