{% extends "base.html" %}
{% load i18n utiltags %}
{% block submenu %}{% call "personsubmenu.html" with currentpage="info" %}{% endblock %}
{% block menu %}{% call "menu.html" with currentpage="personal" %}{% endblock %}
{% block body %}
<script type="text/javascript">
$(document).ready(function(){
    $('a.sendmessage').toggle(function (){
        $(this).prev('img').attr('src', '/site_media/img/opentriangle.gif');
        $('#messages').slideDown('slow');
        $('#messages input:first').focus();
    },function (){
        $(this).prev('img').attr('src', '/site_media/img/triangle.gif');
        $('#messages').slideUp('slow');
    });
    $('#messages').hide();
    on_success_finish = function(obj, data){
        setTimeout(function(){
            $('a.sendmessage').click();
            $('#message').clearmessage();
            $('#messages form').each(function(){
                this.reset();
            });
        }, 1000);
    }
    var user_login = new AjaxForm('#send_message', {'on_success_finish':on_success_finish});
});
</script>
{% catch as header %}
    <h1>{{ person.username }}</h1>
    <p><img src="/site_media/{{ person.userprofile.get_portrait_url|default:"img/user.jpg" }}" /></p>
{% endcatch %}
{% catch as content %}
    <div class="basic_form">
        <h2>基本信息</h2>
        <div class="block">
            <p><b>用户名：</b>{{ person.username }}</p>
            <p><b>邮　箱：</b>{{ person.email }}</p>
        </div>
        {% if person.is_superuser %}
            <h2>状态</h2>
            <p>此人为系统管理员</p>
        {% endif %}
    </div>
{% endcatch %}
{% catch as sidebar %}
    <h1>功能</h1>
    {% pyif not user.is_anonymous() and user.is_superuser and person.username != 'admin' and person.id != user.id %}
        <p><a class="admin" href="/user/{{ person.id }}/delete/">删除当前用户</a></p>
        {% if person.is_superuser %}
            {% ifnotequal person.username "admin" %}
                <p><a class="admin" href="/user/{{ person.id }}/removesysmanager/">取消系统管理员身份</a></p>
            {% endifnotequal %}
        {% else %}
            <p><a class="admin" href="/user/{{ person.id }}/addsysmanager/">设置为系统管理员</a></p>
        {% endif %}
    {% endif %}
    {% pyif person.id == user.id %}
        <p><a class="admin" href="/user/{{ person.id }}/edit/">信息修改</a></p>
    {% else %}
        <p><img src="/site_media/img/triangle.gif" align="absmiddle"/>  <a class="admin sendmessage" href="#">留言</a></p>
        <div id="messages">
            <div id="message"></div>
            <form action="/user/{{ person.id }}/message/send/" method="post" id="send_message">
            {% include "newmessage/inc_message.html" %}
            </form>
        </div>
    {% endif %}
{% endcatch %}
{% call "utils/contentframe.html" with header content sidebar %}
{% endblock %}
