{% extends "setting_base.html" %}
{% load i18n utiltags %}
{% block menu %}{% call "menu.html" with currentpage="book" %}{% endblock %}
{% block body %}
    {% expr person.id == user.id as is_manager %}
    {% include "books/inc_chapter.html" %}
{% endblock %}
{% block css %}
{{ block.super }}
<link href="/site_media/js/model.css" rel="stylesheet" type="text/css" />
<link href="/site_media/css/form.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block js %}
{{ block.super }}
<script type="text/javascript" src="/site_media/js/dimensions.js"></script>
<script type="text/javascript" src="/site_media/js/iutil.js"></script>
<script type="text/javascript" src="/site_media/js/iresizable.js"></script>
<script type="text/javascript" src="/site_media/js/model.js"></script>
<script type="text/javascript" src="/site_media/js/ifxslide.js"></script>
<script type="text/javascript" src="/site_media/js/ifx.js"></script>
{% endblock %}
